<?xml version='1.0' encoding='utf-8'?>
<widget id="brooklyn3000" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Get In Game</name>
    <icon src="57.png" platform="ios" width="57" height="57" density="mdpi" />
    <description>Get In Game App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Get In Game
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <feature name="CustomExitPlugin">
        <param name="ios-package" value="CustomExitPlugin" />
    </feature>
</widget>
